.navBar {
	background: $midnightBlue;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	display: flex;
	color: white;

	.navButtons {
		display: flex;

		i {
			margin: auto 0 auto 20px;
			display: block;
			border-radius: 50%;
			padding: 8px;
			font-size: 12px;
			transition: 0.1s;

			&:hover {
				background: $lightGrey;
			}

			&.refresh.active {
				animation: spin 0.5s;
			}
		}
	}

	.inputBar {
		background: $lessDark;
		flex-grow: 1;
		margin: 7px 20px;
		display: flex;
		overflow: hidden;
		cursor: text;

		form {
			margin: 0;
			width: 100%;
			height: 100%;
		}

		input {
			border: none;
			background: none;
			width: 100%;
			height: 100%;
			color: white;
			padding: 0 10px;
			font-size: 1em;
		}

		.lock {
			margin: auto 10px;
			font-size: 20px;

			&.secure {
				color: $secureGreen;
			}

			&.insecure {
				color: $activeRed;
			}
		}

		.url {
			margin: auto 0px;
			white-space: nowrap;

			.protocol {
				color: #808080;

				&.protocol-http {
					color: $activeRed;
				}

				&.protocol-https {
					color: $secureGreen;
				}
			}

			.port {
				color: #808080;
			}

			.pathname {
				color: #d0d0d0;
			}

			.search {
				color: #d0d0d0;
			}

			.hash {
				color: #808080;
			}
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
