.navBar {
	background: $midnightBlue;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	display: flex;
	color: white;

	.navButtons {
		display: flex;

		i {
			margin: auto 0 auto 20px;
			display: block;

			&.refresh.active {
				animation: spin 0.5s;
			}
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
