@import "titleBar";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    margin: 0;
    -webkit-user-select: none;
    cursor: default;
}

.app {
    width: 100%;
    height: 100%;
}